* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-inicio {
  background-color: #19695f;
}
.bg-inicio footer {
  background-color: white;
  height: 2.7rem;
}

header {
  width: 100%;
  z-index: 1;
}

.bg-body-tertiary {
  background-color: #19695f !important;
}

.navbar {
  height: 6.8rem;
}

.nav-link {
  color: white !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}
.nav-link:hover {
  color: white !important;
}

.navbar-nav {
  margin-left: 5rem;
}

.active {
  color: white !important;
}

.img-inicio {
  padding-top: 2rem;
}

.logo {
  width: 13rem;
  height: 8rem;
  margin-left: 15.5rem;
}

.btn-carrito {
  display: flex;
  flex-direction: row;
  width: 4rem;
  height: 4rem;
  margin-left: 28rem;
  background-color: #19695f;
  border: none;
}
.btn-carrito .shop {
  width: 4rem;
  height: 4rem;
}

.shop-index {
  margin-left: 28rem;
  width: 4rem;
  height: 4rem;
}

.numCarrito {
  color: white;
  text-decoration: none;
  margin-top: 1rem;
}

.iconos, .ig {
  width: 2.5rem;
  height: 2.5rem;
}

.ig {
  margin-left: 1rem;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 3rem;
  gap: 2rem;
}
.grid-card .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 18rem;
  height: 28rem;
  background: rgb(255, 255, 255);
  border-radius: 0.1rem;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.0823529412);
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
}
.grid-card .card .img-prod {
  width: auto;
  height: 13rem;
  align-self: center;
}
.grid-card .card .p-prod {
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  padding-left: 2.5rem;
  padding-right: 2rem;
}
.grid-card .card .p-precio {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  align-self: center;
}

.btn-compra {
  width: 11rem;
  background-color: #19695f !important;
  border: none;
  border-radius: 0.3rem;
  align-self: center;
  color: white !important;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}
.btn-compra .shop-boton {
  width: 2.1rem;
  height: 2.1rem;
}

.img-prodCa {
  width: auto;
  height: 6rem;
}

.btn-eliminar {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  color: white;
  height: 2rem;
  width: 4rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(155, 18, 18);
  margin-bottom: 2rem;
}

.btn-comprar {
  border-radius: 1rem;
  background-color: #19695f !important;
  color: white;
  border: none;
  font-family: "Inter", sans-serif;
  width: 7rem;
  height: 2.5rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.precio {
  font-family: "Inter", sans-serif;
}

.vaciar {
  border-radius: 1rem;
  background-color: rgb(155, 18, 18);
  color: white;
  border: none;
  font-family: "Inter", sans-serif;
  width: 7rem;
  height: 2.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  margin-left: 5rem;
}

.numCarrito {
  background-color: rgb(2, 155, 96) !important;
}/*# sourceMappingURL=style.css.map */